<ion-view title="Favorites">
      <ion-pane ng-controller="FavesCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
        <div ng-repeat="fave in faves">
        	<div class = "pictureBox">
	     		<div class="title">
	                      <center>{{fave.title}}</center>
	                  </div>
	                  <div class="image">
	                      <img ng-src="{{fave._links.thumbnail.href}}">
	                  </div>
	              </div>      
	    </div>
           </ion-pane>
 
</ion-view>
